.DS_Store
.Trash-*

.browser_modules
.nyc_output
.metadata
.history
.theia
.idea

jdt.ls-java-project
lerna-debug.log
node_modules
errorShots
coverage
build
lib

**/docs/api

examples/*/src-gen
examples/*/webpack.config.js

package-backup.json
*.log
